<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="de">
    {% include 'head.html' %}
    <body class="dark:bg-gray-900 dark:text-gray-100">
        {% include 'header.html' %} <!-- Navigation -->
        
        <!-- Der Inhalt der Seite wird hier eingefügt -->
        <div class="container mx-auto">
            {% block content %}{% endblock %}
        </div>

        {% include 'footer.html' %} <!-- Footer -->

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
              duration: 1000, // Dauer der Animation in Millisekunden
              once: true, // Animation nur einmal ausführen
              offset: 120, // Versatz (in Pixeln) für den Start der Animation
            });
          </script>
    </body>
</html>
